.App {
  padding-bottom: 50px;
}

.full-content {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

@font-face {
  font-family: "ACaslonPro";
  src: url("assets/fonts/ACaslonPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Springville";
  src: url("assets/fonts/Springville-Regular3.otf") format("opentype");
}
